* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #C5C5C5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.product-card {
  max-width: 360px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 16px;
  border-radius: 16px;

}

.preview-header {
  position: relative;
  background-color: #D5D3CF;
  border-radius: 16px;
  padding: 16px;
}

.preview-header img {
  object-fit: contain;
  display: block;
  width: 100%;
  height: 180px;
}

.badge {
  font-size: 0.75rem;
  color: #FFFFFF;
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #000000;
  border-radius: 50px;
  padding: 2px 6px;
}

.product-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.product-title {
  font-size: 1.2rem;
  font-weight: 450;
}

.product-price-and-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  text-decoration: line-through
}

.sell-price {
  font-size: 1.75rem;
  font-weight: 700;
}

.review-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

}

.star {
  font-size: 0.8rem;
  color: #FDE047;
}

.rate {
  font-size: 0.8rem;
  border-radius: 4px;
  padding: 2px;
  background-color: #FDE047;
}


.btn-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  gap: 10px;
  color: #FFFFFF;
  background-color: #0F172A;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-buy:hover {
  background-color: #000000;
  transform: scale(0.98);
}