:root {
  /* พื้นหลังนอกสุดของหน้าจอ */
  --bg-app: #333333;

  /* กรอบเครื่องคิดเลขใหญ่ (สีม่วงเข้ม) */
  --card-bg: #700074;

  /* โซนหน้าจอแสดงผล (สีชมพูอ่อนพาสเทล) */
  --display-bg: #ffc2f4;

  /* แผงปุ่มกดล่าง (สีขาวคลีน) */
  --keypad-bg: #ffffff;

  /* ปุ่มเท่ากับ (=) และสีตัวหนังสือเครื่องหมาย (ม่วงเข้มจัด) */
  --primary-purple: #700074;

  /* สีตัวเลขหลักและเส้นขอบ (ดำเข้ม) */
  --text-dark: #1a1a1a;

  /* สีตัวหนังสือบนปุ่มเท่ากับ (ขาว) */
  --text-white: #ffffff;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}